{% extends "global/Page.html" %}
{% load otree static %}


{% block title %}
    Round Decision
{% endblock %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'global/matrix.css' %}" />

    <script>
        setTimeout(
        function () {
            alert("Please make your decision soon.");
        },
        60*1000 // 90 seconds
    );
    </script>

{% endblock %}

{% block content %}

{% if round_number > 1 %}
<div class="card-body">
    <p>
        <h4>In the previous round:</h4>
    </p>
</div>

<div class="card-body small">
    <div class="row">
        <div class="col">
            <div class="card bg-light instructions">
                <div class="card-body">
                    <p>
                        <h6>Task A:</h6>
                        (played with Participant <font color="blue">2</font>)
                    </p>
                    <p>You chose:</p>
                    <ul>
                        {% if previous_decision_high == 1 %}
                        <p>
                            to <b>pay {{ cost_high }} pts</b> for Participant<font color="blue"> 2</font> to <b>receive {{ benefit_high }} pts</b>.
                        </p>
                        {% else %}
                        <p>
                            to <b>pay 0 pts</b> for Participant<font color="blue"> 2</font> to <b>receive 0 pts</b>.
                        </p>
                        {% endif %}
                    </ul>
                    <p> Participant<font color="blue"> 2</font> chose:</p>
                    <ul>
                        {% if opponent_previous_decision_high == 1 %}
                        <p>
                            to <b>pay {{ cost_high }} pts</b> for you to <b>receive {{ benefit_high }} pts</b>.
                        </p>
                        {% else %}
                        <p>
                            to <b>pay 0 pts</b> for you to <b>receive 0 pts</b>.
                        </p>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card bg-light instructions">
                <div class="card-body">
                    <p>
                        <h6>Task B:</h6>
                        (played with Participant <font color="blue">3</font>)
                    </p>
                    <p>You chose:</p>
                    <ul>
                        {% if previous_decision_low == 3 %}
                        <p>
                            to <b>pay {{ cost_low }} pts</b> for Participant<font color="blue"> 3</font> to <b>receive {{ benefit_low }} pts</b>.
                        </p>
                        {% else %}
                        <p>
                            to <b>pay 0 pts</b> for Participant<font color="blue"> 3</font> to <b>receive 0 pts</b>.
                        </p>
                        {% endif %}
                    </ul>
                    <p> Participant<font color="blue"> 3</font> chose:</p>
                    <ul>
                        {% if opponent_previous_decision_low == 3 %}
                        <p>
                            to <b>pay {{ cost_low }} pts</b> for you to <b>receive {{ benefit_low }} pts</b>
                        </p>
                        {% else %}
                        <p>
                            to <b>pay 0 pts</b> for you to <b>receive 0 pts</b>
                        </p>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}

<div class="card-body">
    <p>
        <h4>In this round:</h4>
    </p>
    <p>
        Below are your two options for <b>Task A</b> and <b>Task B</b>, respectively. You need to make a choice in each task to continue.
    </p>
</div>

<div class="row">
    <div class="col">
        <div class="card bg-light instructions">
            <div class="card-body">
            <p>
                <h4>Task A:</h4>
                (played with Participant<font color="blue"> 2</font>)
                </p>
                    {% formfield player.decision_high label='' %}
                </p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card bg-light instructions">
            <div class="card-body">
            <p>
                <h4>Task B:</h4>
                (played with Participant<font color="blue"> 3</font>)
                </p>
                    {% formfield player.decision_low label='' %}
                </p>
            </div>
        </div>
    </div>
</div>

    <p>
        <div style="display: flex; justify-content: flex-end">
        {% next_button %}
        </div>
    </p>

{% endblock %}

{% block scripts %}

    <style>
        .otree-timer {
            display: none;
        }
    </style>

    <script>
        $(function () {
            $('.otree-timer__time-left').on('update.countdown', function (event) {
                if (event.offset.totalSeconds === 10) {
                    $('.otree-timer').show();
                }
            });
        });
    </script>

{% endblock %}