{% extends "global/Page.html" %}
{% load otree static %}


{% block title %}
    Round {{ subsession.round_number }} of {{ Constants.num_rounds }}
{% endblock %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'global/matrix.css' %}" />

    <script>
        setTimeout(
        function () {
            alert("The other participants are waiting. Please make your decision.");
        },
        60*1000 // 60 seconds
    );
    </script>

{% endblock %}

{% block content %}


<p>
    Below are your two options for <b>Task A</b> and <b>Task B</b>, respectively. You need to make a choice for each task to continue.
</p>
<div class="row">
    <div class="col">
        {% if round_number > 1 %}
        <div class="card-body text-center">
            <p><u>In the previous round in Task A:</u></p>
            {% if previous_decision_high == 1 %}
            <p><small>You chose to <b>pay {{ cost_high }}</b> in order for Participant<font color="blue"> 2</font> to <b>receive {{ benefit_high }}</b></small>
            {% else %}
            <p><small>You chose to <b>pay</b> 0 in order for Participant<font color="blue"> 2</font> to <b>receive 0</b></small>
            {% endif %}
            {% if opponent_previous_decision_high == 1 %}
            <p><small>Participant<font color="blue"> 2</font> chose to <b>pay {{ cost_high }}</b> in order for you to <b>receive {{ benefit_high }}</b></small>
            {% else %}
            <p><small>Participant<font color="blue"> 2</font> chose to <b>pay 0</b> in order for you to <b>receive 0</b></small>
            {% endif %}
        </div>
        {% endif %}
    </div>
    <div class="col">
        {% if round_number > 1 %}
        <div class="card-body text-center">
            <p><u>In the previous round in Task B:</u></p>
            {% if previous_decision_low == 3 %}
            <p><small>You chose to <b>pay {{ cost_low }}</b> in order for Participant <font color="blue">3</font> to <b>receive {{ benefit_low }}</b></small>
            {% else %}
            <p><small>You chose to <b>pay 0</b> in order for Participant <font color="blue">3</font> to <b>receive 0</b></small>
            {% endif %}
            {% if opponent_previous_decision_low == 3 %}
            <p><small>Participant <font color="blue">3</font> chose to <b>pay {{ cost_low }}</b> in order for you to <b>receive {{ benefit_low }}</b></small>
            {% else %}
            <p><small>Participant <font color="blue">3</font> chose to <b>pay</b> 0 in order for you to <b>receive 0</b></small>
            {% endif %}
        </div>
        {% endif %}
    </div>
</div>



<div class="card bg-light instructions">
    <div class="card-body">
        <div class="row">
            <div class="col">
            <p>
                <h4>Task A:</h4>
                (played with Participant<font color="blue"> 2</font>)
            </p>
                {% formfield player.decision_high label='' %}
            </p>
            </div>
            <div class="col">
            <p>
                <h4>Task B:</h4>
                (played with Participant<font color="blue"> 3</font>)
            </p>
                {% formfield player.decision_low label='' %}
            </p>
            </div>
        </div>
    </div>
</div>

    <p>
        <div style="display: flex; justify-content: flex-end">
        {% next_button %}
        </div>
    </p>

{% endblock %}
