{% extends "global/Page.html" %}
{% load otree static %}
<style>


</style>

{% block title %}
    Example
{% endblock %}

{% block content %}


<div class="card-body"> <!-- creates indentation -->
    <link rel="stylesheet" type="text/css"
          href="{% static 'global/matrix.css' %}"/>

    <p>Recall the payoffs for Task A and Task B:</p>
</div>
<div class="card bg-light instructions"> <!-- Makes the para a box -->
    <div class="card-body"> <!-- creates indentation -->
    <div class="row">
        <div class="col">
        <h4>
            Task A
        </h4>
        <ul>
            <li>
                You <b>pay XX points</b> in order for Participant 2 to <b>receive XX points</b>.
            </li>
            <li>
                You <b>pay 0 points</b> in order for Participant 2 to <b>receive 0 points</b>.
            </li>
        </ul>
        </div>
        <div class="col">
        <h4>
            Task B
        </h4>
        <ul>
            <li>
                You <b>pay XX points</b> in order for Participant 2 to <b>receive XX points</b>.
            </li>
            <li>
                You <b>pay 0 points</b> in order for Participant 2 to <b>receive 0 points</b>.
            </li>
        </ul>
        </div>
    </div>
    </div>
</div>

<div class="card-body"> <!-- creates indentation -->
    <p>Consider a scenario where Participant 1 and Participant 2 made the following decisions:</p>

    <div class="row">
        <div class="col">
        <h4>
            Task A
        </h4>
        <ul>
            <li>
                Participant 1 chose to <b>pay XX points</b> and Participant 2 chose to pay 0 points.
            </li>
            <li>
                Thus, In Task A, Participant 1 earned 0 points and Participant 2 earned XX points.
            </li>
        </ul>
        </div>
        <div class="col">
        <h4>
            Task B
        </h4>
        <ul>
            <li>
                Participant 1 chose to <b>pay XX points</b> and Participant 2 chose to pay XX points.
            </li>
            <li>
                Thus, In Task A, Participant 1 earned 0 points and Participant 2 earned XX points.
            </li>
        </ul>
        </div>
    </div>
    <p></p>
    <p>In total across both tasks, Participant 1 earned XX points and Participant 2 earned XX points.</p>
</div>

<div class="card-body">
    <h4><b>Please answer the following questions to continue:</b></h4>

    {% for field in form %}
        {% formfield field %}
    {% endfor %}
</div>

    <p>
        <div style="display: flex; justify-content: flex-end">
        {% next_button %}
        </div>
    </p>

{% endblock %}