{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Wait Page
{% endblock %}
{% block content %}
    <div>
           <p>Looks like the other participant left the study. We're really sorry about that. </p>
            <p>Please use the following link to receive the show-up fee and a bonus payment for your time in the study:  <b><a href="https://app.prolific.co/submissions/complete?cc=F39B323F">
                https://app.prolific.co/submissions/complete?cc=F39B323F </a></b>
        .</p>
   </div>

    <p>
        <div style="display: flex; justify-content: flex-end">
        {% next_button %}
        </div>
    </p>

{% endblock %}>