{% load otree static %}
<style>


</style>

<div class="card bg-light instructions"> <!-- Makes the para a box -->
    <div class="card-body"> <!-- creates indentation -->

    <h3>
        Instructions
    </h3>

    <link rel="stylesheet" type="text/css"
          href="{% static 'global/matrix.css' %}"/>

    <p>You are about to simultaneously play two tasks for money against another anonymous participant.</p>
    <p>
        The two tasks are identical in structure, differing only in payoffs. They are task A and task B.
        Each is made of at least 20 rounds, after which there is a 50% chance an additional round for both tasks or for both to stop.
    </p>
    <p>
        In each round, you and the other participant will be given two choice to make, one for each task.
        Below are displayed two payoff matrices, one for each task.
        They show the possible money you can make on each round and for each task based on your decisions as well as the other participant's decisions.
    </p>
    <p>
        <i>In each cell, the amount to the left is the payoff for
        you and to the right for the other participant.</i>
    </p>
    </div>

<div class="row">
    <div class="col">
    <table class='table table-bordered text-center'
           style='width: auto; margin: auto'>
        <tr>
            <th colspan=2 rowspan=2> <font size="5px"><b>Task A</b></font>
            <th colspan=2><font color="red">Participant 2</font></th>
        </tr>
        <tr>
            <th>Cooperate</th>
            <th>Defect</th>
        </tr>
        <tr>
            <th rowspan=2><span class="rotate90"><font color="blue">You</font></span></th>
            <th>Cooperate</th>
            <td><font color="blue">{{ Constants.both_cooperate_payoff }}</font>, <font color="red">{{ Constants.both_cooperate_payoff }}</font></td>
            <td><font color="blue">{{ Constants.betrayed_payoff }}</font>, <font color="red">{{ Constants.betray_payoff }}</font></td>
        </tr>
        <tr>
            <th>Defect</th>
            <td><font color="blue">{{ Constants.betray_payoff }}</font>, <font color="red">{{ Constants.betrayed_payoff }}</font></td>
            <td><font color="blue">{{ Constants.both_defect_payoff }}</font>, <font color="red">{{ Constants.both_defect_payoff }}</font></td>
        </tr>
    </table>
    </div>
    <div class="col">
    <table class='table table-bordered text-center'
           style='width: auto; margin: auto'>
        <tr>
            <th colspan=2 rowspan=2> <font size="5px"><b>Task B</b></font>
            <th colspan=2><font color="red">Player 2</font></th>
        </tr>
        <tr>
            <th>Cooperate</th>
            <th>Defect</th>
        </tr>
        <tr>
            <th rowspan=2><span class="rotate90"><font color="red">You</font></span></th>
            <th>Cooperate</th>
            <td><font color="blue">{{ Constants.low_both_cooperate_payoff }}</font>, <font color="red">{{ Constants.low_both_cooperate_payoff }}</font></td>
            <td><font color="blue">{{ Constants.low_betrayed_payoff }}</font>, <font color="red">{{ Constants.low_betray_payoff }}</font></td>
        </tr>
        <tr>
            <th>Defect</th>
            <td><font color="blue">{{ Constants.low_betray_payoff }}</font>, <font color="red">{{ Constants.low_betrayed_payoff }}</font></td>
            <td><font color="blue">{{ Constants.low_both_defect_payoff }}</font>, <font color="red">{{ Constants.low_both_defect_payoff }}</font></td>
        </tr>
    </table>
    </div>
</div>

<div class="card-body">
    <p>
        Take task A
    </p>
    <p>
        In each cell, the amount to the left is the payoff for you and the amount to the right is the payoff for the other participant,
        for each matrix respectively.
    </p>
    <p>
        The colours signals the different participants and are the same in both tasks.
    </p>
        <ul>
            <li>
                <font color="blue">Blue</font> signals <font color="blue">participant 1</font>
            </li>
            <li>
                <font color="red">Red</font> signals <font color="red">participant 2</font>
            </li>
        </ul>

    <p>
        Your payoffs are displayed in <font color="blue">Blue</font>  too, and the other participant's payoffs in <font color="red">Red</font>.
    </p>


    <p> For example: </p>
        <p>
            If you choose Cooperate and the other person chooses Cooperate, you both would
            receive {{ Constants.both_cooperate_payoff }}.
        </p>
        <p>
            If you choose Cooperate and the other person chooses Defect, you would receive
            {{ Constants.betrayed_payoff }} while they would receive {{ Constants.betray_payoff }}.
        </p>
        <p>
            If you choose Defect and the other person chooses Cooperate, you would receive
            {{ Constants.betray_payoff }} while they would receive {{ Constants.betrayed_payoff }}.
        </p>
        <p>
            If you choose Defect and the other person chooses Defect, you both would
            receive {{ Constants.both_defect_payoff }}.
        </p>
    <p>
        This is all the same for task B, but with different payoffs. The two tasks are totally independent from each other.
        What you decide on task A is not in anyway related to what you decide to to on task B.
        The payoffs on each round for each task are added up separately.
    </p>
    <p>
        Once the last round has been played, your payoffs will be cumulated/added up for each round and the total displayed and subsequently payed to you.
        The total from both task A and task B will be payed to you.
    </p>

</div>
</div>