{% extends 'otree/WaitPage.html' %}
{% load otree static %}

{% block title %}
    Wait Page
{% endblock %}
{% block content %}

<div>
    <p>
        Please wait while the other participant makes their decision.
    </p>
    <p>
        If the waiting time is longer than 5 minutes the study will assume the other player dropped out.
        If this happens you'll be notified and paid a small bonus for your time.
    </p>
    <p>
        <b> Please don't leave before you are notified to.</b>
    </p>
</div>

{% endblock %}>