{% extends "global/Page.html" %}
{% load otree static %}
<style>


</style>

{% block title %}
    Example
{% endblock %}

{% block content %}


<div class="card-body"> <!-- creates indentation -->
    <link rel="stylesheet" type="text/css"
          href="{% static 'global/matrix.css' %}"/>

    <p>Recall the options for the task </p>
</div>

<div class="card bg-light instructions"> <!-- Makes the para a box -->
    <div class="card-body">
        <p>
            <h4>In this round:</h4>
        </p>
        <ul>
            <li>
                You <b>pay {{ Constants.c_high }}</b> pts for Participant 2 to <b>receive {{ Constants.b_high }}</b> pts.
            </li>
            <li>
                You <b>pay 0</b> pts for Participant 2 to <b>receive 0</b> pts.
            </li>
        </ul>
    </div>
</div>

<div class="card-body"> <!-- creates indentation -->
    <p></p>
    <h4>
        <u>Examples</u>
    </h4>
</div>


<div class="row">
    <div class="col">
        <p><b>EXAMPLE 1:</b> Consider a scenario where Participant 1 and Participant 2 made the following decisions:</p>
        <div class="card bg-light instructions"> <!-- Makes the para a box -->
            <div class="card-body">
            <p>
                <h4>In this round:</h4>
            </p>
            <p>Participant 1 chose:</p>
            <ul>
                <li>
                    to <b>pay {{ Constants.c_high }}</b> for Participant 2 to <b>receive {{ Constants.b_high }}</b>.
                </li>
            </ul>
            <p>Participant 2 chose:</p>
            <ul>
                <li>
                    to <b>pay 0</b> for Participant 1 to <b>receive 0</b>.
                </li>
            </ul>
            <p>
                As a result, taking the initial endowment of 1 pts into account, Participant 1 earned <b>{{ total_high_p1 }}</b> points and Participant 2 earned <b>{{ total_high_p2 }}</b> points in this round.
            </p>
            </div>
        </div>
    </div>
    <div class="col">
        <p><b>EXAMPLE 2:</b> Consider a scenario where Participant 1 and Participant 2 made the following decisions:</p>
        <div class="card bg-light instructions"> <!-- Makes the para a box -->
            <div class="card-body">
            <p>
                <h4>In this round:</h4>
            </p>
                <p>Participant 1 chose:</p>
            <ul>
                <li>
                    to <b>pay {{ Constants.c_low }}</b> for Participant 2 to <b>receive {{ Constants.b_low }}</b>.
                </li>
            </ul>
            <p>Participant 2 chose:</p>
            <ul>
                <li>
                    to <b>pay {{ Constants.c_low }}</b> for Participant 1 to <b>receive {{ Constants.b_low }}</b>.
                </li>
            </ul>
            <p>
                As a result, taking the initial endowment of 1 pts into account, Participant 1 earned <b>{{ total_low_p1 }}</b> points and Participant 2 earned <b>{{ total_low_p2 }}</b> points in this round.
            </p>
            </div>
        </div>
    </div>
    <p></p>
</div>

<div class="card-body">
    <p></p>
</div>

<div class="card-body">
    <h4>
        <b>Please answer the following questions to continue:</b>
    </h4>

    {% for field in form %}
        {% formfield field %}
    {% endfor %}
</div>

    <p>
        <div style="display: flex; justify-content: flex-end">
        {% next_button %}
        </div>
    </p>

{% endblock %}