{% extends "global/Page.html" %}
{% load otree static %}
<style>
div {
  width: 300px;
  border: 5px solid black;
  padding: 20px;
  margin: 10px;
}

</style>

{% block title %}
    Instructions
{% endblock %}

{% block content %}

<div class="card-body"> <!-- creates indentation -->
    <p>You are <b>Participant 1</b> in this study. The other participant is <b>Participant 2.</b></p>
    {% if my_treatment == 'high' %}
    <p>
        In each round, you and Participant 2 will interact with each other in a task. In this task, you and your co-participant must choose between two options.
        The total points you earn in each round will depend on what you and Participant 2 independently decide.
    </p>
    {% else %}
    <p>
        In each round, you and Participant 2 will interact with each other in a task. In this task, both of you must choose between two options.
        The total points you earn in each round will depend on what you and Participant 2 independently decide.
        In the beginning of each round, you and the other participant receive an endowment of {{ Constants.endowment_low }} points.
    </p>
    {% endif %}
    <p>
        Below you can see the two options that you and Participant 2 can choose from in each task in each round.
    </p>
</div>

<div class="card bg-light instructions"> <!-- Makes the para a box -->
    <div class="card-body">
        <p>
            <h4>In this round:</h4>
        </p>
        <ul>
            {% if my_treatment == 'high' %}
            <li>
                You <b>lose {{ Constants.c_high}} pts</b> for Participant 2 to <b>receive {{Constants.b_high }} pts</b>.
            </li>
            {% else %}
            <li>
                You <b>lose {{ Constants.c_low}} pts</b> for Participant 2 to <b>receive {{Constants.b_low }} pts</b>.
            </li>
            {% endif %}
            <li>
                You <b>lose 0 pts</b> for Participant 2 to <b>receive 0 pts</b>.
            </li>
        </ul>
        <p>
            Participant 2 faces exactly the same Task with <b>you</b> as the recipient.
            You and Participant 2 have to choose simultaneously between these two options
        </p>
    </div>
</div>

<div class="card-body">
    <p>
        The session will last for multiple rounds. There will be at least {{ Constants.min_rounds }} rounds.
        After the {{ Constants.min_rounds }}th round, there will be a 50% chance of another round.
        After that round, there will again be a 50% chance of another round,
        and after that round, there will again be another 50% chance of another round, and so on until the tasks end.
    </p>
    {% if my_treatment == 'high' %}
        <p>
            You and the other participant are both endowed with {{ initial_endowment_high }} points
            at the start of the game ({{ Constants.endowment_high }} points for each of the {{ Constants.min_rounds }} rounds).
            For any additional round that may occur after the {{ Constants.min_rounds }}th round, you receive an additional endowment of {{ Constants.endowment_high }} points.
        </p>
    {% else %}
        <p>
            You and the other participant are both endowed with {{ initial_endowment_low }} points
            at the start of the game ({{ Constants.endowment_low }} points for each of the 20 rounds).
            For any additional round that may occur after the {{ Constants.min_rounds }}th round,
            you receive an additional endowment of {{ Constants.endowment_low }} points.
        </p>
    {% endif %}

</div>

<div class="card-body">
    <h4>Please answer the following questions to continue:</h4>
        {% if my_treatment == 'high' %}
            <p>
                {% formfield player.q3a %}
                {% formfield player.q4 %}
                {% formfield player.q5 %}
            </p>
        {% endif %}
        {% if my_treatment == 'low' %}
            <p>
                {% formfield player.q3b %}
                {% formfield player.q4 %}
                {% formfield player.q5 %}
            </p>
        {% endif %}
</div>

    <p>
        <div style="display: flex; justify-content: flex-end">
        {% next_button %}
        </div>
    </p>

{% endblock %}