{% extends "global/Page.html" %}
{% load otree static %}


{% block title %}
    Round {{ subsession.round_number }} of {{ Constants.num_rounds }}
{% endblock %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'global/matrix.css' %}" />

    <script>
        setTimeout(
        function () {
            alert("The other participant is waiting. Please make your decision.");
        },
        60*1000 // 60 seconds
    );
    </script>

{% endblock %}

{% block content %}

<div class="card-body">
    <p>
        Below are your two options for the task. You need to make a choice to continue.
    </p>
    {% if round_number > 1 %}
    <div class="card-body text-center">
        <p><u>In the previous round:</u></p>
        {% if my_treatment == 'high' %}
            {% if previous_decision_high == 1 %}
        <p><small>You chose to <b>pay {{ cost_high }}</b> in order for Participant 2 to <b>receive {{ benefit_high }}</b></small>
            {% else %}
            <p><small>You chose to <b>pay</b> 0 in order for Participant 2 to <b>receive 0</b></small>
            {% endif %}
            {% if opponent_previous_decision_high == 1 %}
            <p><small>Participant 2 chose to <b>pay {{ cost_high }}</b> in order for you to <b>receive {{ benefit_high }}</b></small>
            {% else %}
            <p><small>Participant 2 chose to <b>pay 0</b> in order for you to <b>receive 0</b></small>
            {% endif %}
        {% endif %}
        {% if my_treatment == 'low' %}
            {% if previous_decision_low == 3 %}
            <p><small>You chose to <b>pay {{ cost_low }}</b> in order for Participant 2 to <b>receive {{ benefit_low }}</b></small>
            {% else %}
            <p><small>You chose to <b>pay</b> 0 in order for Participant 2 to <b>receive 0</b></small>
            {% endif %}
            {% if opponent_previous_decision_low == 3 %}
            <p><small>Participant 2 chose to <b>pay {{ cost_low }}</b> in order for you to <b>receive {{ benefit_low }}</b></small>
            {% else %}
            <p><small>Participant 2 chose to <b>pay 0</b> in order for you to <b>receive 0</b></small>
            {% endif %}
        {% endif %}
    </div>
    {% endif %}
</div>


<div class="card bg-light instructions">
    <div class="card-body">
        {% if my_treatment == 'high' %}
            <p>
                {% formfield player.decision_high label='' %}
            </p>
        {% endif %}
        {% if my_treatment == 'low' %}
            <p>
                {% formfield player.decision_low label='' %}
            </p>
        {% endif %}
    </div>
</div>

    <p>
        <div style="display: flex; justify-content: flex-end">
        {% next_button %}
        </div>
    </p>

{% endblock %}

{% block scripts %}



{% endblock %}

<!---

<style>
    .otree-timer {
        display: none;
    }
</style>

<script>
    $(function () {
        $('.otree-timer__time-left').on('update.countdown', function (event) {
            if (event.offset.totalSeconds === 15) {
                $('.otree-timer').show();
            }
        });
    });
</script>


<div class="card bg-light instructions">
    <div class="card-body">
        {% if group.treatment == 'high' %}
        <ul>
            <li>
                You pay {{ cost_high }} points for Participant 2 to receive {{ benefit_high }} points.
            </li>
            <li>
                You pay 0 points for Participant 2 to receive 0 points.
            </li>
        </ul>
        {% endif %}
        {% if group.treatment == 'low' %}
        <ul>
            <li>
                You pay {{ cost_low }} points for Participant 2 to receive {{ benefit_low }} points.
            </li>
            <li>
                You pay 0 points for Participant 2 to receive 0 points.
            </li>
        </ul>
        {% endif %}
    </div>
</div>

<div class="form-group required">
        <table class="table table-bordered text-center" style="width: auto; margin: auto">
            <tr>
               <th colspan=2 rowspan=2> <font size="5px"><b>Task A</b></font></th>
                <th colspan=2><font color="red">Participant 2</font></th>
            </tr>
            <tr>
                <th>Cooperate</th>
                <th>Defect</th>
            </tr>
            <tr class="highlight-row-on-hover">
                 {% if group.treatment == 'high' %}
                <th rowspan="2"><span class="rotate90"><font color="blue">You</font></span></th>
                <td><b>Cooperate</b></td>
                <td><font color="blue">{{ Constants.both_cooperate_payoff }}</font>, <font color="red">{{ Constants.both_cooperate_payoff }}</font></td>
                <td><font color="blue">{{ Constants.betrayed_payoff }}</font>, <font color="red">{{ Constants.betray_payoff }}</font></td>
                 {% endif %}

                {% if group.treatment == 'low' %}
                <th rowspan="2"><span class="rotate90">You</span></th>
                <td><b>Cooperate</b></td>
                <td><b>{{Constants.low_both_cooperate_payoff}}</b>, {{Constants.low_both_cooperate_payoff}}</td>
                <td><b>{{ Constants.low_betrayed_payoff }}</b>, {{Constants.low_betray_payoff}}</td>
                 {% endif %}
            </tr>
            <tr class="highlight-row-on-hover">
                {% if group.treatment == 'high' %}
                <td><b>Defect</b></td>
                <td><font color="blue">{{ Constants.betray_payoff }}</font>, <font color="red">{{ Constants.betrayed_payoff }}</font></td>
                <td><font color="blue">{{ Constants.both_defect_payoff }}</font>, <font color="red">{{ Constants.both_defect_payoff }}</font></td>
                {% endif %}

                {% if group.treatment == 'low' %}
                <td><b>Defect</b></td>
                <td><b>{{Constants.low_betray_payoff}}</b>, {{ Constants.low_betrayed_payoff }}</td>
                <td><b>{{Constants.low_both_defect_payoff}}</b>, {{Constants.low_both_defect_payoff}}</td>
                {% endif %}
            </tr>
        </table>
        <p>
            {% formfield player.decision label='Your decision for Task A:' %}
        </p>
    </div>

        <p>
        <div style="display: flex; justify-content: flex-end">
        {% next_button %}
        </div>
    </p>

--->