{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}

    {% if player.left_hanging == 1 %}
        Dropout victims
    {% else %}
        Dropouts
    {% endif %}

{% endblock %}

{% block content %}

{% if player.left_hanging == 1 %}
    <div>
        <p>
            Looks like the other participant left the study. We're really sorry about that.
            Please go back to the main page to receive your show-up fee and a small bonus for your time.
        </p>
   </div>
{% else %}
    <div>
        <p>You were inactive too long and the program assumed you dropped out. Thus the game was ended.</p>
   </div>
{% endif %}

{% endblock %}>