{% extends "global/Page.html" %}
{% load otree static %}


{% block title %}
    Round Decision {{ subsession.round_number }}
{% endblock %}

{% block styles %}

    <script>
        setTimeout(
        function () {
            alert("Please make your decision soon.");
        },
        90*1000 // 90 seconds
    );
    </script>

{% endblock %}

{% block content %}

<div class="form-group required">
    <table class="table table-bordered text-center" style="width: auto; margin: auto">
        <tr>
            <th colspan="2" rowspan="2"></th>
            <th colspan="2">The Other Participant</th>
        </tr>
        <tr>
            <th>A</th>
            <th>B/th>
        </tr>
        <tr>
            <th rowspan="2"><span>You</span></th>
            <td><button name="decision" value="Cooperate" class="btn btn-primary btn-large">I choose 1</button></td>
            <td>{{Constants.reward}}, {{Constants.reward}}</td>
            <td>{{ Constants.sucker }}, {{Constants.temptation}}</td>
        </tr>
        <tr>
            <td><button name="decision" value="Defect" class="btn btn-primary btn-large">I choose 2</button></td>
            <td>{{Constants.temptation}}, {{ Constants.sucker }}</td>
            <td>{{Constants.punishment}}, {{Constants.punishment}}</td>
        </tr>
    </table>
</div>



    <p>
        <div style="display: flex; justify-content: flex-end">
        {% next_button %}
        </div>
    </p>

{% endblock %}

{% block scripts %}

    <style>
        .otree-timer {
            display: none;
        }
    </style>

    <script>
        $(function () {
            $('.otree-timer__time-left').on('update.countdown', function (event) {
                if (event.offset.totalSeconds === 10) {
                    $('.otree-timer').show();
                }
            });
        });
    </script>

{% endblock %}