{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Consent form
{% endblock %}


{% block content %}

<div>
    <p>
        The purpose of this research study is to investigate decision making.
        In this study, you will interact anonymously with others via the computer.
        You will be faced with a series of decision-making situations.
        Your participation in this study will take at most 30 minutes.
        If you have any questions about the study, they will be answered for you via email at coop@evolbio.mpg.de.
    </p>
    <p>
        For your participation in the study, you will have the opportunity to earn GBP 2.00 for participating
        and an additional bonus between GBP 0.00 and GBP 6.00, depending on your choices and the choices of other participants.
    </p>
    <p>
        The decision-making situation will be completely anonymous and there is no possibility that you can identify or be identified by any other participant.
        Your data will be kept confidential.
        Participant IDs will not be saved together with their decisions, such that no association can be made between individual participants and the resulting data.
        No personal data (age, gender, etc) will be recorded.
    </p>
    <p>
        When the research is completed, the aggregate results of this study will be submitted for publication to a scientific journal.
        After publication, the data files will be uploaded to a public repository, allowing other scientists to independently verify the published results of this research study.
        These publicized data files contain information on individual decisions, but no information about the identity of the participants.
    </p>
    <p>
        Participation and withdrawal: Your participation in this study is completely voluntary, and you may refuse to participate without penalty or loss of benefit to which you may otherwise be entitled.
        Also, you may choose to withdraw at any time without penalty or loss of benefit to which you may otherwise be entitled.
    </p>
    <p>
        By continuing with the participation in this study, I confirm that I have read the description of this study, and that I give my consent to participate.
    </p>
    <p>
        For questions, concerns, or suggestions about this research, please contact: Charlotte Rossetti, coop@evolbio.mpg.de.
    </p>
</div>

    <p>
        <div style="display: flex; justify-content: flex-end">
        {% next_button %}
        </div>
    </p>

{% endblock %}