{% extends "global/Page.html" %}
{% load otree static %}
<style>


</style>

{% block title %}
    Example
{% endblock %}

{% block content %}


<div class="card-body"> <!-- creates indentation -->
    <p>Recall the options for Task A and Task B:</p>
</div>

<div class="row">
    <div class="col">
        <div class="card bg-light instructions"> <!-- Makes the para a box -->
            <div class="card-body"> <!-- creates indentation -->
            <h4>
                Task A:
            </h4>
            <ul>
                <li>
                    You <b>lose {{ Constants.c_high }} pts</b> for Participant 2 to <b>receive {{ Constants.b_high }} pts</b>.
                </li>
                <li>
                    You <b>lose 0 pts</b> for Participant 2 to <b>receive 0 pts</b>.
                </li>
            </ul>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card bg-light instructions"> <!-- Makes the para a box -->
            <div class="card-body"> <!-- creates indentation -->
            <h4>
                Task B:
            </h4>
            <ul>
                <li>
                    You <b>lose {{ Constants.c_low }}</b> ptsfor Participant 2 to <b>receive {{ Constants.b_low }} pts</b>.
                </li>
                <li>
                    You <b>lose 0 pts</b> for Participant 2 to <b>receive 0 pts</b>.
                </li>
            </ul>
            </div>
        </div>
    </div>
    </div>
</div>

<div class="card-body">
    <p></p>
    <h4><u>Example</u></h4>
</div>

    <p>Consider a scenario where Participant 1 and Participant 2 made the following decisions:</p>

<div class="row">
    <div class="col">
        <div class="card bg-light instructions"> <!-- Makes the para a box -->
            <div class="card-body"> <!-- creates indentation -->
            <h4>
                Task A:
            </h4>
            <p>Participant 1 chose:</p>
            <ul>
                <li>
                    to <b>lose {{ Constants.c_high }} pts</b> for Participant 2 to <b>receive {{ Constants.b_high }} pts</b>.
                </li>
            </ul>
            <p> Participant 2 chose:</p>
            <ul>
                <li>
                    to <b>lose 0 pts</b> for Participant 1 to <b>receive 0 pts</b>.
                </li>
            </ul>
            <hr size="6" width="50%" align="left" color="black">
            <p>
                Participant 1's points in this round:
                -{{ cost_high }} + {{ 0 }} = <b>{{ sucker_high }}</b>
            </p>
            <p>
                Participant 2's points in this round:
                {{ 0 }} + {{ benefit_high }} = <b>{{ temptation_high }}</b>
            </p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card bg-light instructions"> <!-- Makes the para a box -->
            <div class="card-body"> <!-- creates indentation -->
            <h4>
                Task B:
            </h4>
            <p>Participant 1 chose:</p>
            <ul>
                <li>
                    to <b>lose {{ Constants.c_low }} pts</b> for Participant 2 to <b>receive {{ Constants.b_low }} pts</b>.
                </li>
            </ul>
            <p> Participant 2 chose:</p>
            <ul>
                <li>
                    to <b>lose {{ Constants.c_low }} pts</b> for Participant 1 to <b>receive {{ Constants.b_low }} pts</b>.
                </li>
            </ul>
            <hr size="6" width="50%" align="left" color="black">
            <p>
                Participant 1's points in this round:
                -{{ cost_low }} + {{ benefit_low }} = <b>{{ reward_low }}</b>
            </p>
            <p>
                Participant 2's points in this round:
                -{{ cost_low }} + {{ benefit_low }} = <b>{{ reward_low }}</b>
            </p>
            </div>
        </div>
    </div>
</div>

<div class="card-body">
    <div class="row justify-content-center">
        <p>In total across both tasks, Participant 1 earned <b>{{ sum_p1 }} pts</b> and Participant 2 earned <b>{{ sum_p2 }} pts</b>.</p>
    </div>
</div>

<div class="card-body">
    <h4>
        <b>Please answer the following questions to continue:</b>
    </h4>

    {% for field in form %}
        {% formfield field %}
    {% endfor %}
</div>

    <p>
        <div style="display: flex; justify-content: flex-end">
        {% next_button %}
        </div>
    </p>

{% endblock %}