{% extends "global/Page.html" %}
{% load otree static %}
<style>
div {
  width: 300px;
  border: 5px solid black;
  padding: 20px;
  margin: 10px;
}

</style>

{% block title %}
    Instructions
{% endblock %}

{% block content %}

<div class="card-body"> <!-- creates indentation -->
    <p>You are <b>Participant 1</b> in this study. The other participant is <b>Participant 2.</b></p>
    <p>
        In each round, you and Participant 2 will simultaneously interact with each other in two tasks, Task A and Task B.
        In each task, you and your co-participant must choose between two options.
        The points you earn in each round will depend on what you and Participant 2 independently decide for each task.
        The two tasks are independent. The points you earn in either task do not depend on the decisions made in the other.
        In the beginning of each round, you and the other participant receive an endowment of
        {{ Constants.endowment_high }} points in Task A and {{ Constants.endowment_low }} points in task B.
    </p>
    <p>
        Below you can see the two options that you and Participant 2 can choose from in each task in each round.
    </p>
</div>


<div class="row">
    <div class="col">
        <div class="card bg-light instructions"> <!-- Makes the para a box -->
            <div class="card-body">
            <h4>
                Task A:
            </h4>
            <ul>
                <li>
                    You <b>lose {{ Constants.c_high }}</b> pts for Participant 2 to <b>receive {{ Constants.b_high }}</b> pts.
                </li>
                <li>
                    You <b>lose 0</b> pts for Participant 2 to <b>receive 0</b> pts.
                </li>
            </ul>
            <p>
                Participant 2 face exactly the same Task A with <b>you</b> as the recipient.
                You and Participant 2 have to choose simultaneously between these two options
            </p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card bg-light instructions"> <!-- Makes the para a box -->
            <div class="card-body">
            <h4>
                Task B:
            </h4>
            <ul>
                <li>
                    You <b>lose {{ Constants.c_low }}</b> pts for Participant 2 to <b>receive {{ Constants.b_low }}</b> pts.
                </li>
                <li>
                    You <b>lose 0</b> pts for Participant 2 to <b>receive 0</b> pts.
                </li>
            </ul>
            <p>
                Participant 2 face exactly the same Task B with <b>you</b> as the recipient.
                You and Participant 2 have to choose simultaneously between these two options
            </p>
            </div>
        </div>
    </div>
</div>

<div class="card-body">
    <p>
        The session will last for multiple rounds. There will be at least {{ Constants.min_rounds }} rounds.
        After the {{ Constants.min_rounds }}th round, there will be a 50% chance of another round.
        After that round, there will again be a 50% chance of another round,
        and after that round, there will again be another 50% chance of another round, and so on until the tasks end.
    </p>
    <p>
        You and the other participant are both endowed with {{ initial_endowment_high }} points
        at the start of the game ({{ Constants.endowment_high }} points for Task A
        and {{ Constants.endowment_low }} points for Task B, for each of the {{ Constants.min_rounds }} rounds).
        For any additional round that may occur after the {{ Constants.min_rounds }}th round,
        you receive an additional endowment of {{ Constants.endowment_high }} points for Task A
        and {{ Constants.endowment_low }} points for Task B.
    </p>
</div>

<div class="card-body">
    <h4>Please answer the following questions to continue:</h4>
    {% for field in form %}
        {% formfield field %}
    {% endfor %}
</div>

    <p>
        <div style="display: flex; justify-content: flex-end">
        {% next_button %}
        </div>
    </p>

{% endblock %}