{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Introduction
{% endblock %}

{% block content %}

    <p><b>Thank you for taking part in this study!</b></p>

    <p>
        In this study, you are about to engage in <b>two simultaneous tasks with another participant</b> who is also taking part in the same session as you.
        You will be interacting in real time with this participant.
        The two tasks consists of many interactive rounds. in each round you will always be playing with the same participant.
        Your bonus payment will depend on the decisions you and the other participant make in each task.
    </p>
    <p>
        During this study, you will accumulate points (pts).
        At the end of the study, all the points you have earned will be converted to GBP
        at a rate of {{ Constants.pounds_per_points }} points = £1 and paid as a bonus to you 3-5 days after completing the study.
        You must stay on task at all times. Otherwise you will automatically be disconnected and get £0.
        The Prolific link for the payment will be displayed at the end of the study.
    </p>
    <p>
        <b>Please answer the following questions to continue:</b>
    </p>

    {% for field in form %}
        {% formfield field %}
    {% endfor %}

    <p>
        <div style="display: flex; justify-content: flex-end">
        {% next_button %}
        </div>
    </p>

{% endblock %}

<!--
<div class="row">
    <div class="col">
    <table class='table table-bordered text-center'
           style='width: auto; margin: auto'>
        <th><b>Game A</b></th>
        <tr>
            <th colspan=2 rowspan=2></th>
            <th colspan=2><font color="blue">The Other Participant</font></th>
        </tr>
        <tr>
            <th>Cooperate</th>
            <th>Defect</th>
        </tr>
        <tr>
            <th rowspan=2><span class="rotate90"><font color="red">You</font></span></th>
            <th>Cooperate</th>
            <td><font color="red">{{ Constants.both_cooperate_payoff }}</font>, <font color="blue">{{ Constants.both_cooperate_payoff }}</font></td>
            <td><font color="red">{{ Constants.both_defect_payoff }}</font>, <font color="blue">{{ Constants.betray_payoff }}</font></td>
        </tr>
        <tr>
            <th>Defect</th>
            <td><font color="red">{{ Constants.betray_payoff }}</font>, <font color="blue">{{ Constants.both_defect_payoff }}</font></td>
            <td><font color="red">{{ Constants.both_defect_payoff }}</font>, <font color="blue">{{ Constants.both_defect_payoff }}</font></td>
        </tr>
    </table>
    </div>
    <div class="col">
    <table class='table table-bordered text-center'
           style='width: auto; margin: auto'>
        <th><b>Game B</b></th>
        <tr>
            <th colspan=2 rowspan=2></th>
            <th colspan=2><font color="blue">The Other Participant</font></th>
        </tr>
        <tr>
            <th>Cooperate</th>
            <th>Defect</th>
        </tr>
        <tr>
            <th rowspan=2><span class="rotate90"><font color="red">You</font></span></th>
            <th>Cooperate</th>
            <td><font color="red">{{ Constants.low_both_cooperate_payoff }}</font>, <font color="blue">{{ Constants.low_both_cooperate_payoff }}</font></td>
            <td><font color="red">{{ Constants.low_both_defect_payoff }}</font>, <font color="blue">{{ Constants.low_betray_payoff }}</font></td>
        </tr>
        <tr>
            <th>Defect</th>
            <td><font color="red">{{ Constants.low_betray_payoff }}</font>, <font color="blue">{{ Constants.low_both_defect_payoff }}</font></td>
            <td><font color="red">{{ Constants.low_both_defect_payoff }}</font>, <font color="blue">{{ Constants.low_both_defect_payoff }}</font></td>
        </tr>
    </table>
    </div>
</div>
-->