{% extends "global/Page.html" %}
{% load otree static %}
<style>
div {
  width: 300px;
  border: 5px solid black;
  padding: 20px;
  margin: 10px;
}

</style>

{% block title %}
    Instructions
{% endblock %}

{% block content %}

<div class="card-body"> <!-- creates indentation -->
    <p>You are <b>Participant 1</b> in this study. The other participants are <b>Participant <font color="blue">2</font></b> and <b>Participant <font color="blue">3</font></b>.</p>
    <p>
        In each round, you and Participant <font color="blue">2</font> will simultaneously interact with each other in Task A,
        and you and Participant <font color="blue">3</font> will simultaneously interact with each other in Task B. In each task,
        you and your co-participant on that task must choose between two options.
        The points you earn in each round will depend on what you, Participant <font color="blue">2</font> and
        Participant <font color="blue">3</font> independently decide for your respective tasks.
        The two tasks are independent: The points you earn in either task do not depend on the decisions made in the other.
        In the beginning of each round, you and the other two participants receive an endowment of {{ Constants.endowment_high }}
        points in task A and {{ Constants.endowment_low }} points in task B.
    </p>
</div>


<div class="row">
    <div class="col">
        <p>
            Below you can see the two options that <b>you and Participant <font color="blue">2</font></b> can choose from in Task A in each round.
        </p>
        <div class="card bg-light instructions"> <!-- Makes the para a box -->
            <div class="card-body">
            <h4>
                Task A:
            </h4>
            <ul>
                <li>
                    You <b>lose {{ Constants.c_high }}</b> pts for Participant <font color="blue">2</font> to <b>receive {{ Constants.b_high }}</b> pts
                </li>
                <li>
                    You <b>lose 0</b> pts for Participant <font color="blue">2</font> to <b>receive 0</b> pts
                </li>
            </ul>
            <p>
                Participant <font color="blue">2</font> faces exactly the same Task A with <b>you</b> as the recipient.
                You and Participant <font color="blue">2</font> have to choose simultaneously between these two options.
            </p>
            </div>
        </div>
    </div>
    <div class="col">
        <p>
            Below you can see the two options that that <b>you and Participant <font color="blue">3</font></b> can choose from in Task B in each round.
        </p>
        <div class="card bg-light instructions"> <!-- Makes the para a box -->
            <div class="card-body">
            <h4>
                Task B:
            </h4>
            <ul>
                <li>
                    You <b>lose {{ Constants.c_low }}</b> pts for Participant <font color="blue">3</font> to <b>receive {{ Constants.b_low }}</b> pts
                </li>
                <li>
                    You <b>lose 0</b> pts for Participant <font color="blue">3</font> to <b>receive 0</b> pts
                </li>
            </ul>
            <p>
                Participant <font color="blue">3</font> faces exactly the same Task B with <b>you</b> as the recipient.
                You and Participant <font color="blue">3</font> have to choose simultaneously between these two options.
            </p>
            </div>
        </div>
    </div>
</div>

<div class="card-body">
    <p>
        Note that, while Participant <font color="blue">2</font> and Participant <font color="blue">3</font> interact with you in Tasks A and B,
        they both also simultaneously interact with another Participant (but not with each other) in a similar task.
        That is, each of you is engaged in two tasks simultaneously at all times.
    </p>
    <p>
        The session will last for multiple rounds. There will be at least {{ Constants.min_rounds }} rounds.
        After the {{ Constants.min_rounds }}th round, there will be a 50% chance of another round.
        After that round, there will again be a 50% chance of another round,
        and after that round, there will again be another 50% chance of another round, and so on until the tasks end.
    </p>
    <p>
        You and the other participants are both endowed with {{ initial_endowment_joint }} points
        at the start of the game ({{ Constants.endowment_high }} points for Task A
        and {{ Constants.endowment_low }} points for Task B, for each of the {{ Constants.min_rounds }} rounds).
        For any additional round that may occur after the {{ Constants.min_rounds }}th round,
        you receive an additional endowment of {{ Constants.endowment_high }} points for Task A
        and {{ Constants.endowment_low }} points for Task B.
    </p>
</div>

<div class="card-body">
    <h4>Please answer the following questions to continue:</h4>
    {% for field in form %}
        {% formfield field %}
    {% endfor %}
</div>

    <p>
        <div style="display: flex; justify-content: flex-end">
        {% next_button %}
        </div>
    </p>

{% endblock %}