{% extends "global/Page.html" %}
{% load otree static %}
<style>


</style>

{% block title %}
    Example
{% endblock %}

{% block content %}


<div class="card-body"> <!-- creates indentation -->
    <p>Recall the options for Task A and Task B:</p>
</div>


<div class="row">
    <div class="col">
        <div class="card bg-light instructions"> <!-- Makes the para a box -->
            <div class="card-body"> <!-- creates indentation -->
            <p>
                <h4>Task A:</h4>
                (played with Participant <font color="blue">2</font>)
            </p>
            <ul>
                <li>
                    You <b>pay {{ Constants.c_high }} pts</b> for Participant <font color="blue">2</font> to <b>receive {{ Constants.b_high }} pts</b>.
                </li>
                <li>
                    You <b>pay 0 pts</b> for Participant <font color="blue">2</font> to <b>receive 0 pts</b>.
                </li>
            </ul>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card bg-light instructions"> <!-- Makes the para a box -->
            <div class="card-body"> <!-- creates indentation -->
            <p>
                <h4>Task B:</h4>
                (played with Participant <font color="blue">3</font>)
            </p>
            <ul>
                <li>
                    You <b>pay {{ Constants.c_low }} pts</b> for Participant <font color="blue">3</font> to <b>receive {{ Constants.b_low }} pts</b>.
                </li>
                <li>
                    You <b>pay 0 pts</b> for Participant <font color="blue">3</font> to <b>receive 0 pts</b>.
                </li>
            </ul>
            </div>
        </div>
    </div>
    </div>
</div>

<div class="card-body">
    <p></p>
    <h4><u>Example</u></h4>
</div>


<div class="row">
    <div class="col">
        <p>Consider a scenario where Participant 1 and Participant <font color="blue">2</font> made the following decisions:</p>
        <div class="card bg-light instructions"> <!-- Makes the para a box -->
            <div class="card-body"> <!-- creates indentation -->
            <p>
                <h4>Task A:</h4>(played with Participant <font color="blue">2</font>)
            </p>
            <p>Participant 1 chose:</p>
            <ul>
                <li>
                    to <b>pay {{ Constants.c_high }} pts</b> for Participant <font color="blue">2</font> to <b>receive {{ Constants.b_high }} pts</b>
                </li>
            </ul>
            <p>Participant <font color="blue">2</font> chose:</p>
            <ul>
                <li>
                    to <b>pay 0 pts</b> for Participant 1 to <b>receive 0 pts</b>
                </li>
            </ul>
            <p>
                As a result, taking the initial endowment of 1 pts into account, Participant 1 earned <b>{{ total_high_p1 }} pts</b> and Participant <font color="blue">2</font> earned <b>{{ total_high_p2 }} pts</b> in Task A in this round.
            </p>
            </div>
        </div>
    </div>
    <div class="col">
        <p>Consider a scenario where Participant 1 and Participant <font color="blue">3</font> made the following decisions:</p>
        <div class="card bg-light instructions"> <!-- Makes the para a box -->
            <div class="card-body"> <!-- creates indentation -->
            <p>
                <h4>Task B:</h4>(played with Participant <font color="blue">3</font>)
            </p>
            <p>Participant 1 chose:</p>
            <ul>
                <li>
                    to <b>pay {{ Constants.c_low }} pts</b> for Participant <font color="blue">3</font> to <b>receive {{ Constants.b_low }} pts</b>
                </li>
            </ul>
            <p>Participant <font color="blue">3</font> chose:</p>
            <ul>
                <li>
                    to <b>pay {{ Constants.c_low }} pts</b> for Participant 1 to <b>receive {{ Constants.b_low }} pts</b>
                </li>
            </ul>
            <p>
                As a result, taking the initial endowment of 1 pts into account, Participant 1 earned <b>{{ total_low_p1 }} pts</b> and Participant <font color="blue">3</font> earned <b>{{ total_low_p2 }} pts</b> in Task B in this round.
            </p>
            </div>
        </div>
    </div>
</div>

<div class="card-body">
    <div class="row justify-content-center">
        <p>In total across both tasks, Participant 1 earned <b>{{ sum_p1 }} pts</b>.</p>
    </div>
</div>

<div class="card-body">
    <h4><b>Please answer the following questions to continue:</b></h4>

    {% for field in form %}
        {% formfield field %}
    {% endfor %}
</div>

    <p>
        <div style="display: flex; justify-content: flex-end">
        {% next_button %}
        </div>
    </p>

{% endblock %}