{% load otree static %}

<div class="card bg-light instructions"> <!-- Makes the para a box -->
    <div class="card-body"> <!-- creates indentation -->

    <h3>
        Instructions
    </h3>

    <link rel="stylesheet" type="text/css"
          href="{% static 'global/matrix.css' %}"/>

    <p>You are about to play a game for money against another anonymous player. </p>
    <p>
        The game is made of at least 20 rounds, after which there is a 50% chance an additional round or for the game to stop.
        In each round, you and the other player will be given a choice to make.
        The payoff matrix below shows the possible money you can make on each round based on your decision as well as the other player's decision.
    </p>


    <p><i>In each cell, the amount to the left is the payoff for
        you and to the right for the other participant.</i></p>
    </div>

<div>
    <table class='table table-bordered text-center'
           style='width: auto; margin: auto'>
        <tr>
            <th colspan=2 rowspan=2></th>
            <th colspan=2><font color="red">The Other Participant</font></th>
        </tr>
        <tr>
            <th>Cooperate</th>
            <th>Defect</th>
        </tr>
        <tr>
            <th rowspan=2><span class="rotate90"><font color="blue">You</font></span></th>
            <th>Cooperate</th>
            <td><font color="blue">{{ Constants.both_cooperate_payoff }}</font>, <font color="red">{{ Constants.both_cooperate_payoff }}</font></td>
            <td><font color="blue">{{ Constants.betrayed_payoff }}</font>, <font color="red">{{ Constants.betray_payoff }}</font></td>
        </tr>
        <tr>
            <th>Defect</th>
            <td><font color="blue">{{ Constants.betray_payoff }}</font>, <font color="red">{{ Constants.betrayed_payoff }}</font></td>
            <td><font color="blue">{{ Constants.both_defect_payoff }}</font>, <font color="red">{{ Constants.both_defect_payoff }}</font></td>
        </tr>
    </table>
</div>

<div class="card-body">
    <p>
        The colours signals the different players.
    </p>
        <ul>
            <li>
                <font color="blue">Blue</font> signals <font color="blue">player 1</font>
            </li>
            <li>
                <font color="red">Red</font> signals <font color="red">player 2</font>
            </li>
        </ul>

    <p>
        Your payoffs are displayed in <font color="blue">Blue</font>  too, and the other player's payoffs in <font color="red">Red</font>.
    </p>


    <p> For example: </p>
        <p>
            If you choose Cooperate and the other person chooses Cooperate, you both would
            receive {{ Constants.both_cooperate_payoff }}.
        </p>
        <p>
            If you choose Cooperate and the other person chooses Defect, you would receive
            {{ Constants.betrayed_payoff }} while they would receive {{ Constants.betray_payoff }}.
        </p>
        <p>
            If you choose Defect and the other person chooses Cooperate, you would receive
            {{ Constants.betray_payoff }} while they would receive {{ Constants.betrayed_payoff }}.
        </p>
        <p>
            If you choose Defect and the other person chooses Defect, you both would
            receive {{ Constants.both_defect_payoff }}.
        </p>
    <p>
        Once the last round has been played, your payoffs will be cumulated/added up and the total displayed and subsequently payed to you.
    </p>

</div>
</div>

<!-- This creates a block inside the text. It is pretty

    <div class="card bg-light instructions">
        <div class="card-body">

        <h3>
            The Game
        </h3>

        <link rel="stylesheet" type="text/css"
              href="{% static 'global/matrix.css' %}"/>

        <p>
            Each game lasts for at least <b>20 rounds</b>.
            After that, there is a ....% chance of another round
            (explain that better)
        </p>
        <p>
            The game structure is as follows: At each round, both players get a choice of two actions: cooperate or defect.
            <b>Explain the matrix payoffs</b>
        </p>

        <p>
            The colours signals the different players.
        </p>
            <ul>
                <li>
                    <font color="blue">Blue</font> signals <font color="blue">player 1</font>
                </li>
                <li>
                    <font color="red">Red</font> signals <font color="red">player 2</font>
                </li>
            </ul>


        <p>
            The game ends on the last round, which ever it is. You have no way of knowing for sure.
            One round will then be randomly selected and you will be paid that amount.
        </p>
        </div>
    </div>



    <p>
        After you press the next button, the game will start only after the other player has arrived.
    </p>
-->


<!--
    <table class='table table-bordered text-center'
           style='width: auto; margin: auto'>
        <tr>
            <th colspan=2 rowspan=2></th>
            <th colspan=2>The Other Participant</th>
        </tr>
        <tr>
            <th>Cooperate</th>
            <th>Defect</th>
        </tr>
        <tr>
            <th rowspan=2><span class="rotate90">You</span></th>
            <th>Cooperate</th>
            <td>{{ Constants.both_cooperate_payoff }}, {{ Constants.both_cooperate_payoff }}</td>
            <td>0, {{ Constants.betray_payoff }}</td>
        </tr>
        <tr>
            <th>Defect</th>
            <td>{{ Constants.betray_payoff }}, 0</td>
            <td>{{ Constants.both_defect_payoff }}, {{ Constants.both_defect_payoff }}</td>
        </tr>
    </table>
-->
